.active {
  font-weight: bold;
}

hr {
  border-top:5px solid #000;
}

a:link,
a:visited {
  color: inherit;
  text-decoration: underline;
}

.lead {
  font-size: 1.5em;
  line-height: 1.25;
}

.btn {
  text-decoration: none!important;
  border-radius: 0;
  box-shadow: 5px 5px 0 0 #000;
  color: #000;
  border: 1px solid #000;
}

.btn:hover,
.btn:active,
.btn:focus {
  text-decoration: underline!important;
  box-shadow: 5px 5px 0 0 #000!important;
  background: #fff!important;
  color: #000!important;
  border: 1px solid #000!important;
}

.nav--page {
  a:link,
  a:visited {
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
}

h1 {
  font-weight: 900;
}

.excerpt {
  box-shadow: 0 5px 5px rgba(0,0,0,.1);
  padding: 15px;
  margin-bottom: 15px;
  display:inline-block;
}

blockquote {
  border-left: 4px solid lightgray;
  padding-left: 15px;
  color: gray;
  font-style: italic;
  font-size: 18px;
  font-weight: 100;
}

body {
  font-family: "sofia-pro-condensed", sans-serif;
  font-weight: 100;
}

#topnav {

  a:link,
  a:visited {
    color: #000;
    text-decoration: none;
  }

}

nav,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "sofia-pro-condensed";
}

#projects {
  background: gray;

  .card {
    background: none;
    border: none;
    border-radius: 0;
    color: #ccc;

    img {
      width: 100%;
    }
  }
  .card-title,
  .card-text {
    font-family: vinyl;
    a:link,
    a:visited {
      color: #eee;
    }
    small {
      font-family: "sofia-pro-condensed"
    }
  }
  a:link.text-muted ,
  a:visited.text-muted {
    color: #ccc!important;
    text-decoration: none;
    margin-bottom: .5em;
    display: inline-block;
  }
}

#news {
  h2 {
    font-family: "vinyl";
    a {
      color: #000;
    }
  }
}

.parent-news h1 {
  font-family: "vinyl";
}

.project-heading {
  background: lightgray;
  text-align: center;

  h1, h2 {
    font-family: vinyl;
    border: 3px solid #000;
    display: inline-block;
    border-radius: 25px;
    background: #fff;
  }

  .arrow {
    display: block;
    font-size: 50px;
    line-height: 50px;
    padding-bottom:10px;
  }
}

.table-heading {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: bold;
  text-align: center;
}

table.sections {
  text-transform: uppercase;
  td {
    border: 2px solid #000;
    padding: 10px;
    min-width: 40px;
  }
  a:link, a:visited {
    color: #000;
  }
}

strong {
  font-weight: bold;
}

.contactinfo {
  border: 2px solid #000;
  th, td {
    padding: 7px 15px;
    border-right: 1px solid #000;
    border-bottom: 2px solid #000;
    width: 50%;
  }
  th {
    border-bottom: 1px solid #000;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  a:link,
  a:visited {
    color: #000;
  }
}

.contactinfo__disclaimer {
  font-size: .8em;
}

.image img {
  max-width: 100%;
  height: auto;
}

.image.image--right {
  display: block;
  width: 33%;
  float: right;
  margin-left: 15px;
  margin-bottom: 15px;
}

.image.image--left {
  display: block;
  width: 33%;
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
}

.waypoints {
  background: #222;
  color: #ccc;
  padding: 15px;
  a:link, a:visited {
    color: #ccc;
  }
}

.parent-waypoints {
  background: #222;
  color: #ccc;
  a:link, a:visited {
    color: #ccc;
  }
  #topnav {
    a:link, a:visited {
      color: #ccc;
    }
  }
}

figure img {
  max-width: 100%;
}

footer {
  display: block;
  background: #476184;
  color: #979797;

  a {
    color: #979797;
    text-decoration: underline;
  }

  a:hover {
    color: lighten(#979797, 25%);
  }

  img {
    display: block;
    margin: auto;
  }
}




.projects {
  background: #DAEEE2;
  padding: 15px; }

.project__marker {
  background: #f00;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: relative;
}

.project__marker--small {
  width: 100px;
  height: 100px; }

.project__hole {
  display: block;
  background: gray;
  width: 10%;
  height: 10%;
  border-radius: 50%;
  position: absolute;
  top: 45%;
  left: 45%; }



.home__collage,
.home__sections {
  background: #DAEEE2;
}

.sections__card {
  display: block;
  padding: 100px 15px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
//  transition: all .25s;
  border: 1px solid #fff;
  text-decoration: none!important;
}

.sections__card:hover {
  box-shadow: 0 5px 10px rgba(0,0,0,.25);
  color: rgba(0,0,0,1);
  transform:translateY(-5px);
}

.home__news {
  a:link, a:visited {
    color: #222;
  }
  li a {
      font-family: "Vinyl";
      font-weight: bold;
      font-size: 26px;
  }
  h2 {
    font-weight: 900;
  }
}

.home__news li {
  border-top: 1px solid lightgray;
}

.section__nav {
  a:link,
  a:visited {
    color: #000;
  }
}

.fluid-width-video-wrapper {
  margin-bottom: 1em;
}

/* Kirby Columns */

.columns {
  margin-right: -2rem;
}
.column {
  display: inline-block;
  vertical-align: top;
  padding-right: 2rem;
}
.columns-1 .column {
  width: 100%;
}
.columns-2 .column {
  width: 50%;
}
.columns-3 .column {
  width: 33.33%;
}
.columns-4 .column {
  width: 25%;
}
.columns-5 .column {
  width: 20%;
}
