.active {
  font-weight: bold; }

.excerpt {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin-bottom: 15px;
  display: inline-block; }

blockquote {
  border-left: 4px solid lightgray;
  padding-left: 15px;
  color: gray;
  font-style: italic;
  font-size: 18px;
  font-weight: 100; }

body {
  font-family: "sofia-pro-condensed", sans-serif;
  font-weight: 100; }

#topnav {
  border: 3px solid #000; }
  #topnav.navbar {
    padding: 0;
    background-color: #fff !important; }
  #topnav .navbar-brand,
  #topnav .nav-item,
  #topnav .navbar-toggler {
    padding: .5rem 1rem; }
  #topnav .nav-item {
    text-transform: uppercase;
    border-left: 3px solid #000;
    letter-spacing: 1px; }
  #topnav .navbar-toggler {
    border: 0;
    border-radius: 0;
    border-left: 3px solid #000; }
  #topnav a:link,
  #topnav a:visited {
    color: #000; }

nav,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "sofia-pro-condensed"; }

#projects {
  background: lightgray; }
  #projects .card {
    padding: 15px;
    border: 2px solid #000;
    border-radius: 0; }
  #projects .card-title,
  #projects .card-text {
    font-family: vinyl; }
    #projects .card-title a:link,
    #projects .card-title a:visited,
    #projects .card-text a:link,
    #projects .card-text a:visited {
      color: #000; }
    #projects .card-title small,
    #projects .card-text small {
      font-family: "sofia-pro-condensed"; }

#news h2 {
  font-family: "vinyl"; }
  #news h2 a {
    color: #000; }

.parent-news h1 {
  font-family: "vinyl"; }

.project-heading {
  background: lightgray;
  text-align: center; }
  .project-heading h1, .project-heading h2 {
    font-family: vinyl;
    border: 3px solid #000;
    display: inline-block;
    border-radius: 25px;
    background: #fff; }
  .project-heading .arrow {
    display: block;
    font-size: 50px;
    line-height: 50px;
    padding-bottom: 10px; }

.table-heading {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: bold;
  text-align: center; }

table.sections {
  text-transform: uppercase; }
  table.sections td {
    border: 2px solid #000;
    padding: 10px;
    min-width: 40px; }
  table.sections a:link, table.sections a:visited {
    color: #000; }

strong {
  font-weight: bold; }

.contactinfo {
  border: 2px solid #000; }
  .contactinfo th, .contactinfo td {
    padding: 7px 15px;
    border-right: 1px solid #000;
    border-bottom: 2px solid #000;
    width: 50%; }
  .contactinfo th {
    border-bottom: 1px solid #000;
    letter-spacing: 1px;
    text-transform: uppercase; }
  .contactinfo a:link,
  .contactinfo a:visited {
    color: #000; }

.contactinfo__disclaimer {
  font-size: .8em; }

.image img {
  max-width: 100%;
  height: auto; }

.image.image--right {
  display: block;
  width: 33%;
  float: right;
  margin-left: 15px;
  margin-bottom: 15px; }

.image.image--left {
  display: block;
  width: 33%;
  float: left;
  margin-right: 15px;
  margin-bottom: 15px; }

.waypoints,
.parent-waypoints h1,
.parent-waypoints h3,
.waypoints h2 {
  font-family: "larabiefont" !important; }

.waypoints {
  background: #DAEEE2;
  padding: 15px; }

.waypoint__marker {
  position: relative;
  margin: auto; }

.parent-waypoints {
  background: #DAEEE2;
  font-family: "larabiefont" !important; }

figure img {
  max-width: 100%; }
