@charset "UTF-8";
.active {
  font-weight: bold; }

hr {
  border-top: 5px solid #000; }

a:link,
a:visited {
  color: inherit;
  text-decoration: underline; }

.lead {
  font-size: 1.5em;
  line-height: 1.25; }

.btn {
  text-decoration: none !important;
  border-radius: 0;
  box-shadow: 5px 5px 0 0 #000;
  color: #000;
  border: 1px solid #000; }

.btn:hover,
.btn:active,
.btn:focus {
  text-decoration: underline !important;
  box-shadow: 5px 5px 0 0 #000 !important;
  background: #fff !important;
  color: #000 !important;
  border: 1px solid #000 !important; }

.nav--page a:link,
.nav--page a:visited {
  text-decoration: none; }

.nav--page a:hover {
  text-decoration: underline; }

h1 {
  font-weight: 900; }

.excerpt {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin-bottom: 15px;
  display: inline-block; }

blockquote {
  border-left: 4px solid lightgray;
  padding-left: 15px;
  color: gray;
  font-style: italic;
  font-size: 18px;
  font-weight: 100; }

body {
  font-family: "sofia-pro-condensed", sans-serif;
  font-weight: 100; }

#topnav .list-inline-item {
  font-family: "sofia-pro";
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 13px; }

#topnav .list-inline-item::after {
  content: " • ";
  margin: 0 .5em; }

#topnav .list-inline-item:last-child::after {
  content: "";
  margin: 0; }

#topnav a:link,
#topnav a:visited {
  color: #000;
  text-decoration: none; }

nav,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "sofia-pro-condensed"; }

#projects {
  background: white; }
  #projects .card {
    background: none;
    border: none;
    border-radius: 0; }
    #projects .card img {
      width: 100%; }
  #projects .card-title,
  #projects .card-text {
    font-family: "sofia-pro-condensed";
    letter-spacing: 1px; }
  #projects .card-title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px; }
  #projects a:link,
  #projects a:visited {
    text-decoration: none; }

.icon {
  display: block;
  position: relative;
  cursor: pointer;
  padding-top: 100%;
  height: 0; }

.icon__disc,
.icon__background,
.icon__foreground {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  transition: all .25s; }

.card:hover .icon__background {
  transform: scale(1.05); }

.card:hover .icon__disc {
  transform: scale(1.1); }

.card:hover .icon__foreground {
  transform: scale(1.05); }

#news h2 {
  font-family: "vinyl"; }
  #news h2 a {
    color: #000; }

.parent-news h1 {
  font-family: "vinyl"; }

.project-heading {
  background: lightgray;
  text-align: center; }
  .project-heading h1, .project-heading h2 {
    font-family: vinyl;
    border: 3px solid #000;
    display: inline-block;
    border-radius: 25px;
    background: #fff; }
  .project-heading .arrow {
    display: block;
    font-size: 50px;
    line-height: 50px;
    padding-bottom: 10px; }

.project__banner {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left bottom;
  background-blend-mode: lighten; }

.table-heading {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: bold;
  text-align: center; }

table.sections {
  text-transform: uppercase; }
  table.sections td {
    border: 2px solid #000;
    padding: 10px;
    min-width: 40px; }
  table.sections a:link, table.sections a:visited {
    color: #000; }

strong {
  font-weight: bold; }

.contactinfo {
  border: 2px solid #000; }
  .contactinfo th, .contactinfo td {
    padding: 7px 15px;
    border-right: 1px solid #000;
    border-bottom: 2px solid #000;
    width: 50%; }
  .contactinfo th {
    border-bottom: 1px solid #000;
    letter-spacing: 1px;
    text-transform: uppercase; }
  .contactinfo a:link,
  .contactinfo a:visited {
    color: #000; }

.contactinfo__disclaimer {
  font-size: .8em; }

.image img {
  max-width: 100%;
  height: auto; }

.image.image--right {
  display: block;
  width: 33%;
  float: right;
  margin-left: 15px;
  margin-bottom: 15px; }

.image.image--left {
  display: block;
  width: 33%;
  float: left;
  margin-right: 15px;
  margin-bottom: 15px; }

.waypoints {
  background: #222;
  color: #ccc;
  padding: 15px; }
  .waypoints a:link, .waypoints a:visited {
    color: #ccc; }

.parent-waypoints {
  background: #222;
  color: #ccc; }
  .parent-waypoints a:link, .parent-waypoints a:visited {
    color: #ccc; }
  .parent-waypoints #topnav a:link, .parent-waypoints #topnav a:visited {
    color: #ccc; }

figure img {
  max-width: 100%; }

footer {
  display: block;
  background: #476184;
  color: #979797; }
  footer a {
    color: #979797;
    text-decoration: underline; }
  footer a:hover {
    color: #d7d7d7; }
  footer img {
    display: block;
    margin: auto; }

.projects {
  background: #DAEEE2;
  padding: 15px; }

.project__marker {
  background: #f00;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: relative; }

.project__marker--small {
  width: 100px;
  height: 100px; }

.project__hole {
  display: block;
  background: gray;
  width: 10%;
  height: 10%;
  border-radius: 50%;
  position: absolute;
  top: 45%;
  left: 45%; }

.home__collage,
.home__sections {
  background: #DAEEE2; }

.sections__card {
  display: block;
  padding: 100px 15px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  border: 1px solid #fff;
  text-decoration: none !important; }

.sections__card:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  color: black;
  transform: translateY(-5px); }

.home__news a:link, .home__news a:visited {
  color: #222; }

.home__news li a {
  font-family: "Vinyl";
  font-weight: bold;
  font-size: 26px; }

.home__news h2 {
  font-weight: 900; }

.home__news li {
  border-top: 1px solid lightgray; }

.section__nav a:link,
.section__nav a:visited {
  color: #000; }

.fluid-width-video-wrapper {
  margin-bottom: 1em; }

/* Kirby Columns */
.columns {
  margin-right: -2rem; }

.column {
  display: inline-block;
  vertical-align: top;
  padding-right: 2rem; }

.columns-1 .column {
  width: 100%; }

.columns-2 .column {
  width: 50%; }

.columns-3 .column {
  width: 33.33%; }

.columns-4 .column {
  width: 25%; }

.columns-5 .column {
  width: 20%; }
