.image img {
  max-width: 100%;
  height: auto;
}

.image.image--right {
  display: block;
  width: 33%;
  margin-left: 15px;
}

.image.image--left {
  display: block;
  width: 33%;
  margin-right: 15px;
}

.btn-outline-primary {
  padding: .5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: .3rem;
  color: #007bff;
  background-color: transparent;
  background-image: none;
  border: 1px solid #007bff!important;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
}
